PORT = "YOUR_PORT"
NODE_ENV = "YOUR_NODE_ENV"
CLOUDINARY_CLOUD_NAME = "YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY = "YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET = "YOUR_CLOUDINARY_API_SECRET"
MONGODB_URI = "YOUR_MONGODB_URI"
JWT_SECRET = "YOUR_JWT_SECRET"
FRONTEND_DEV_URL = "YOUR_FRONTEND_DEV_URL"